---
---

@import '../_sass/bootstrap';
@import '../_sass/mixins';
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Anonymous+Pro&display=swap');

$dark-shade: #212025;
$dark-accent: #385776; //#648eb9;
$main: #7898bc; //#8aade9;
$light-accent: darken(#E1ECF4, 20%);
$light-shade: #fff;//#F6F8F7;

%anonymouspro { font-family: 'Anonymous Pro', monospace; }
%lato { font-family: 'Lato', 'Open Sans' sans-serif; }

/*--------------------------------------------------------------
Defaults
--------------------------------------------------------------*/

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  background-color: lighten($light-accent, 5%);
  @extend %lato;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @extend %anonymouspro;
  color: $main;
  font-weight: 800;
}

article {
  margin: 5em 0;
}

p {
  line-height: 1.8;
  font-size: 1.5em;
}

a {
  @include transition(color .2s ease-in-out);
  color: $main;
  &:hover {
    color: invert($main);
    text-decoration: none;
  }
}

img {
  width: 100%;
}

audio {
  outline: none;
  width: 100%;
}

.audio-feature {
  padding-top: 35%;
}

button.btn, input.btn {
  padding: 12px 35px;
  margin: 2em 0.5em;
  border: solid 1px darken($light-shade, 15%);
  border-radius: 4px;
  color: darken($dark-accent, 30%);
  background-color: $light-shade;
  font-weight: 600;
  &:hover, &.btn-default:hover {
    background-color: $light-shade;
    border: solid 1px $light-accent;
    -moz-box-shadow: 0 1px 0 $light-accent;
    -webkit-box-shadow: 0 1px 0 $light-accent;
    box-shadow: 0 1px 0 $light-accent;
  }
  i {
    padding-right: 0.5em;
  }
  @include bp-xsmall {
    @include horizontal-align;
    margin-bottom: 0.5em;
  }
}

.main {
  color: $dark-shade;
  background-color: $light-shade;
  border-left: solid 1px $light-accent;
  border-right: solid 1px $light-accent;

  nav {
    color: $dark-shade;
    background-color: lighten($light-accent, 20%);
    border-color: darken($light-shade, 10%);
  }

  &.container {
    padding: 0;
  }
}

.section-jump {
  position: relative;
  top: 0;
  color: $light-accent;
  margin: 0 auto;
  display: table;
  @include transition(top .2s ease-in);
  &:hover {
    top: 3px;
  }
}

/*--------------------------------------------------------------
Home Hero
--------------------------------------------------------------*/
.hero-container {
  margin: 10em 0 9em 0;
  @include bp-xsmall {
    margin: 5em 0 5em 0;
  }
  @include bp-small {
    margin: 5em 0 5em 0;
  }
}

.hero-content {
  width: 60%;
  margin: 0 auto;
  display: table;
  @include bp-medium {
    width: 100%;
  }
  @include bp-small {
    width: 100%;
  }
  @include bp-xsmall {
    width: 100%;
  }
  h1 {
    color: $main;
    font-size: 48px;
  }
  p {
    margin: 2em 0 4em 0;
  }
  .hero-buttons {
    margin: 0 auto;
    display: table;
    i {
      padding-right: 0.5em;
    }
  }
}

/*--------------------------------------------------------------
Posts
--------------------------------------------------------------*/
#portfolio .container {
  margin-top: 10em;
  @include bp-xsmall {
    margin-top: 2em;
  }
  .break {
    margin: 8em 0;
    @include bp-xsmall {
      margin: 2em 0;
    }
  }
}

.section-title {
  color: $main;
  position: relative;
  margin: 0 auto;
  margin-bottom: 1em;
  &:after {
    content: '';
    position: absolute;
    top: 1.35em;
    width: 3em;
    height: 3px;
    background-color: lighten($light-accent, 10%);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.section-subtitle {
  width: 40%;
  margin: 0 auto;
  @include bp-xsmall {
    width: 100%;
  }
  @include bp-small {
    width: 60%;;
  }
}

.content-wrap {
  margin-bottom: 8em;
  @include bp-xsmall {
    margin-bottom: 2em;
  }
  @include bp-small {
    margin-bottom: 2em;
  }
  img.img-responsive {
    @include bp-xsmall {
      display: none;
    }
    @include bp-small {
      display: none;
    }
  }
  .content {
    margin-top: 5em;
    margin-left: 5em;
    @include bp-xsmall {
      margin-left: 0;
    }
    h3.title {
      position: relative;
      margin-bottom: 1.5em;
      &:after {
        content: '';
        position: absolute;
        top: 1.5em;
        left: 0;
        width: 3em;
        height: 3px;
        background-color: lighten($light-accent, 10%);
      }
    }
    .excerpt {
      width: 80%;
      @include bp-xsmall {
        width: 100%;
      }
    }
    button{
      font-size: 16px;
      margin-left: 0;
      margin-bottom: 1em;
      margin-top: 1em;
    }
    .tags, .categories {
      margin: 2em 0;
      span {
        color: $light-shade;
        background-color: $dark-accent;
        padding: 0.5em 1.5em;
        display: inline-block;
        margin-bottom: 0.5em;
      }
    }
    .categories span {
      color: $light-accent;
      background-color: $dark-shade;
    }
  }
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.site-footer {
  font-size: 14px;
  margin-top: 2em;
  border-top: 1px solid darken($light-shade, 10%);
  padding: 1em 0;
  p {
    font-size: 12px;
    font-weight: 600;
    color: $dark-shade;
    margin: 0;
    padding: 10px 0;
    @include bp-xsmall {
      text-align: center;
    }
  }
  .section-jump {
    float: right;
    @include bp-xsmall {
      float: none;
    }
  }
}