{% if post.feature_type == "image" %}
<div class="col-xs-12 col-md-6">
  <img class="img-responsive" src="{{ post.feature_image }}" title="{{ post.title }}">
</div>

{% elsif post.feature_type == "audio" %}
<div class="col-xs-12 col-md-6 hidden-xs hidden-sm">
  <div class="audio-feature">
    <audio controls>
      <source src="{{ post.feature_audio }}" type="audio/mp3">
    </audio>
  </div>
</div>

{% elsif post.feature_type == "spotify" %}
<div class="col-xs-12 col-md-6 hidden-xs hidden-sm">
  <iframe src="{{ post.feature_spotify }}" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" class="visible-md-lg"></iframe>
</div>

{% else %}
<div class="col-xs-12 col-md-6"></div>
{% endif %}